html{
    height:100%;
    min-height:100%;
}


body{

}



h1{
    font-size: 2em;
}

pre{



}

.alert{
    color: red;
}

.mysteriousCode{
    background-color: #e0e0d1;

}

td{
    padding: 20px;
    border:1px solid black;
    text-align: center;
}

.note{
    margin-top: 10px;
}

.multiplicationTable td{
    padding: 4px;
    border:1px solid black;
    text-align: center;
}

.productImg{
    width: 200px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

.buyMe{
    display: none;
}

.productsLayout{
    float: left;
    text-align: center;
    height: 250px;
    width: 300px;
    border: 1px solid black;


}





