html{
    height:100%;
    min-height:100%;
}


body{

}



h1{
    font-size: 2em;
}



.alert{
    color: red;
}

.mysteriousCode{
    background-color: #e0e0d1;

}

td{
    padding: 20px;
    border:1px solid black;
    text-align: center;
}

.note{
    margin-top: 10px;
}

.multiplicationTable td{
    padding: 4px;
    border:1px solid black;
    text-align: center;
}

.productImg{
    width: 200px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

.buyMe{
    display: none;
}

.productsLayout{
    float: left;
    text-align: center;
    height: 250px;
    width: 300px;
    border: 1px solid black;
}

.navbarCustom{

    background-color: blue;
    height: 50px;
}
.navList {
    padding: 0;

}

.navList li {
    padding:15px;
    float: left;
    list-style: none;
}

.navList li a{
    color: white
}

#coolDiv{
    padding: 20px;
    font-weight: bold;
}

#bigCircle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: blue;
    position: relative;
    z-index:1;
}

#medCircle{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index:2;
}

#smallCircle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color:  #4d2600;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index:3;
}

#backToTop{
    width : 100px;
    height: 30px;
    background-color: black;
    color: orange;
    line-height: 30px;;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    display:none;
    position: fixed;
    bottom: 5px;
    right: 5px ;
}

.snowflake{
    width: 5px;
    height: 5px;

    position: absolute;
    border-radius: 100%;
}

.fixed{

    width :30%;
    height:300px;
    border:1px solid black;
    position: fixed;
    left:0px;

}

#counter{
    font-size:30em;
    position: fixed;
    top:0;
    left: 50%;
    color:black;
    text-shadow: 2px 4px 5px blue;
    transform: translate(-50%, 0);
    display: none;
    background: url('')no-repeat center center  ;

}

.timerWatchBox{
    width:280px;
    height: 280px;
    padding: 5px;
    z-index: 1;
    background-color: black;
    color:white;
}

#stopWatch{
    width: 270px;
    height:102px;
    color:darkred;
    font-size: 70px;
    background-color: white;
    z-index: 2;

}

#minutes, #seconds{
    border:2px solid grey;
}

.stopWatchButtons{
    padding:20px;
}

.stopWatchButtons button{
    width:120px;
    color:black;
    margin: 7px;
}








